@model IEnumerable<UpwardsWebsiteProject.Models.ClassEntity>
@{
    ViewData["Title"] = "ClassList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ClassList</h1>
<hr />

<p class="float-left">
    <a asp-action="AddClass" asp-controller="Class" class="btn btn-outline-secondary">Add Class</a>
</p>

<p class="float-right">
    @* <a asp-action="AddCustomer" asp-controller="Item" class="btn btn-outline-secondary">Add School</a> |*@
    @*<a asp-action="List" class="btn btn-outline-primary">Item List</a> |
    <a asp-action="SchoolList" asp-controller="Item" class="btn btn-outline-primary">Category List</a>*@
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>

          @*  <th>
                @Html.DisplayNameFor(model => model.SchoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchId)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>



            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.SchoolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.SchoolId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchId)
                </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>


                <td>
                    @Html.ActionLink("Update", "AddClass", new {  item.ClassId, item.SchoolId, item.BranchId,item.SchoolName,item.BranchName, item.ClassName} , new { @class="btn btn-outline-success rounded-pill"}) |
                    @Html.ActionLink("Delete", "DeleteClass", new {  item.ClassId  }, new { @class = "btn btn-outline-danger rounded-pill",onclick="return confirm('Do you really want this record?')" })
                </td>

            </tr>
        }
    </tbody>
</table>


